<div class="card">
  <h1 class=" text-uppercase text-decoration-underline p-2 " >Editing movie</h1>
  <%= render "form", movie: @movie %>
  <br>
  <div>
    <%= link_to "Show this movie", @movie ,class: "btn btn-primary mb-2 p-2 text-warning" %> |
    <%= link_to "Back to movies", movies_path ,class: "btn btn-primary mb-2 p-2 text-warning"%>
  </div>
</div>
