<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class=" blockbuster ">Clients</h1>
  <div class="py-2">
    <%= link_to "New client", new_client_path ,class: "btn btn-primary mb-2 p-2 text-warning" %>
  </div>
  

  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr class=" ">
          <th scope="col" class="text-warning bg-primary" >#</th>
          <th scope="col" class="text-warning bg-primary">Name</th>
          <th scope="col" class="text-warning bg-primary">Age</th>
          <th scope="col" class="text-warning bg-primary">Movie</th>
          <th scope="col" class="text-warning bg-primary" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
