<div class=" card mb-4 p-2 text-warning  ">
  <h1 class=" btn btn-primary mb-2 p-2 text-warning  ">New client</h1>
  <%= render "form", client: @client %>
  <br>
  <div>
    <%= link_to "Back to clients", clients_path ,class: "btn btn-primary mb-2 p-2 text-warning" %>
  </div>

</div>
